extends layout

block content
  h1= title
  table
    tr
      th Id
      th Nombre
      th Apellido
      th E-Mail
      th Options
    - employees.forEach(function(v,i){
    tr
      td=i
      td=v.name
      td=v.lastName
      td=v.email
      td
        a(href="/panel/employees/edit/"+v._id) Edit
        a(href="/panel/employees/delete/"+v._id) Delete
    - });
      
      
