extends layout

block content
  h1= title
  e=JSON.stringify(flashmsg)
  e
  .error
    - if (errors)
      ul
        - each a in errors
          li=a
  form(action='',method='post')
    div
      label(for='name') Nombre:
      - if (errors)
        input(type='text', name='name', id='name', value=params.name)
      - else 
        input(type='text', name='name', id='name')
    div
      label(for='lastName') Apellido:
      - if (errors)
        input(type='text', name='lastName', id='lastName', value=params.lastName)
      - else 
        input(type='text', name='lastName', id='lastName')
    div
      label(for='email') E-Mail:
      - if (errors)
        input(type='text', name='email', id='email', value=params.email)
      - else 
        input(type='text', name='email', id='email')
    div
      label(for='password') Password:
      input(type='password', name='password', id='password')
    div
      label(for='confirm') Confirm:
      input(type='password', name='confirm', id='confirm')
    div
      input(type='submit', value='Save')
  style.
    form label { min-width: 80px; display: block; }
    form > div { padding: 5px; }
    .error {color: red; font-weight: bold;}
